* {
    font-family: "Segoe UI Semibold", "Noto Sans Medium", "Arial Unicode MS", -apple-system,
        BlinkMacSystemFont, Roboto, Open Sans, Helvetica Neue, sans-serif;

    font-size: 14px;
}

body,
html,
body>div {
    height: 100%;
    width: 100%;
    min-height: 192px;
    overflow-y: scroll;
    overflow-x: hidden;
    margin: 0;
}

body {
    padding: 7px;
}

a {
    text-decoration: none;
}

a[href*=User] {
    font-weight: lighter;
    text-decoration: underline;
}

span {
    font-weight: lighter;
}

form#translation {
    display: none;
}

span.small a {
    font-weight: bold;
}

div.grayline a {
    font-weight: bold;
}